<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.clonewhatsapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/whatsapplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloneWhatsApp">
        <activity android:name=".principal.PrincipalActivity"></activity>
        <activity
            android:name=".cadastro.CadastroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TemaLogin" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TemaLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>